name: Upload to Dropbox

on:
  workflow_dispatch:
    inputs:
      filename:
        required: true
      content:
        required: true

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Upload file to Dropbox
        env:
          DROPBOX_TOKEN: ${{ secrets.DROPBOX_TOKEN }}
        run: |
          echo "${{ github.event.inputs.content }}" > temp.txt

          curl -X POST https://content.dropboxapi.com/2/files/upload \
            --header "Authorization: Bearer $DROPBOX_TOKEN" \
            --header "Dropbox-API-Arg: {\"path\": \"/${{ github.event.inputs.filename }}\",\"mode\":\"overwrite\"}" \
            --header "Content-Type: application/octet-stream" \
            --data-binary @temp.txt
